body {
  margin: 0;
  overflow: hidden;
}
.bg {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-image: url(images/illuminated-cabin-snowy-forest-spooky-tranquility-generated-by-ai.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 60% bottom;
  animation: day-night 30s infinite;
}
.smoke-wrap {
  position: absolute;
  left: 66%;
  top: 3%;
}
.smoke,
.smoke2 {
  filter: blur(5px);
  transform-origin: 50% 50%;
}
.smoke {
  animation: smoke 3s linear infinite;
  animation-delay: 0.5s;
}
.smoke2 {
  margin-left: 190px;
  margin-top: 40px;
  animation: smoke2 3s linear infinite;
  animation-delay: 1.5s;
}

.window-fire {
  width: 100vw;
  height: 100vh;

  background-image: url(images/light.png);
  background-color: transparent;
  background-size: cover;
  position: absolute;
  top: -8.5%;
  left: 3.7%;
  animation: burn 3s infinite;
}

.snow {
  position: absolute;
  width: 100%;
  height: 98%;
  filter: blur(3px);
  animation: day-night 30s infinite;
}
.snow .flake {
  position: absolute;
  top: -2%;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-image: radial-gradient(white, transparent);
}

.snow .flake:nth-child(3n) {
  animation: flake-anim-1 20s infinite linear;
}
.snow .flake:nth-child(2n) {
  animation: flake-anim-2 20s infinite linear;
}
.snow .flake.small {
  width: 12px;
  height: 12px;
  animation-duration: 30s;
}
.snow .flake:nth-child(1) {
  left: 23%;
  animation-delay: 1.5s;
}
.snow .flake:nth-child(2) {
  left: 89%;
  animation-delay: 6s;
}
.snow .flake:nth-child(3) {
  left: 11%;
  animation-delay: 0.5s;
}
.snow .flake:nth-child(4) {
  left: 17%;
  animation-delay: 4s;
}
.snow .flake:nth-child(5) {
  left: 68%;
  animation-delay: 8.3s;
}
.snow .flake:nth-child(6) {
  left: 55%;
  animation-delay: 0.3s;
}
.snow .flake:nth-child(7) {
  left: 5%;
  animation-delay: 14.7s;
}
.snow .flake:nth-child(8) {
  left: 77%;
  animation-delay: 3s;
}
.snow .flake:nth-child(9) {
  left: 37%;
  animation-delay: 14s;
}
.snow .flake:nth-child(10) {
  left: 46%;
  animation-delay: 7s;
}

.snow .flake.small:nth-child(11) {
  left: 43%;
  animation-delay: 5s;
}
.snow .flake.small:nth-child(12) {
  left: 29%;
  animation-delay: 5.5s;
}
.snow .flake.small:nth-child(13) {
  left: 81%;
  animation-delay: 15.5s;
}
.snow .flake.small:nth-child(14) {
  left: 37%;
  animation-delay: 1s;
}
.snow .flake.small:nth-child(15) {
  left: 45%;
  animation-delay: 15.3s;
}
.snow .flake.small:nth-child(16) {
  left: 15%;
  animation-delay: 0.3s;
}
.snow .flake.small:nth-child(17) {
  left: 71%;
  animation-delay: 5.7s;
}
.snow .flake.small:nth-child(18) {
  left: 56%;
  animation-delay: 6s;
}
.snow .flake.small:nth-child(19) {
  left: 87%;
  animation-delay: 1s;
}
.snow .flake.small:nth-child(20) {
  left: 16%;
  animation-delay: 17s;
}
@keyframes flake-anim-1 {
  from {
    top: -2%;
    opacity: 1;
  }
  50% {
    top: 100%;
    opacity: 1;
  }
  to {
    top: 100%;
    opacity: 0;
  }
}
@keyframes flake-anim-2 {
  from {
    top: -2%;
    opacity: 1;
  }
  50% {
    top: 95%;
    opacity: 1;
  }
  to {
    top: 95%;
    opacity: 0;
  }
}
@keyframes flake-anim-2 {
  from {
    top: -2%;
    opacity: 1;
  }
  50% {
    top: 95%;
    opacity: 1;
  }
  to {
    top: 95%;
    opacity: 0;
  }
}
@keyframes day-night {
  from {
    filter: grayscale(0%) brightness(110%);
  }
  50% {
    filter: grayscale(80%) brightness(10%);
  }
  to {
    filter: grayscale(0%) brightness(110%);
  }
}
@keyframes burn {
  from {
    opacity: 0.1;
  }
  20% {
    opacity: 0.4;
  }
  21% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.2;
  }
  70% {
    opacity: 0.6;
  }
  75% {
    opacity: 0.65;
  }
  to {
    opacity: 0.4;
  }
}
@keyframes smoke {
  0% {
    filter: blur(0px);
    transform: translateY(0px) scale(-1, 1);
    opacity: 0;
  }
  25% {
    filter: blur(3px);
    transform: translateY(-10px) scale(-1, 1.05);
    opacity: 0.5;
  }
  50% {
    filter: blur(5px);
    transform: translateY(-20px) scale(-1, 1.1);
    opacity: 1;
  }
  75% {
    filter: blur(5px);
    transform: translateY(-30px) scale(-1, 1.15);
    opacity: 0.5;
  }
  100% {
    filter: blur(7px);
    transform: translateY(-40px) scale(-1, 1.2);
    opacity: 0;
  }
}
@keyframes smoke2 {
  0% {
    filter: blur(0px);
    transform: translateY(0px) scale(1);
    opacity: 0;
  }
  25% {
    filter: blur(3px);
    transform: translateY(-10px) scale(1.05);
    opacity: 0.5;
  }
  50% {
    filter: blur(5px);
    transform: translateY(-20px) scale(1.1);
    opacity: 1;
  }
  75% {
    filter: blur(5px);
    transform: translateY(-30px) scale(1.15);
    opacity: 0.5;
  }
  100% {
    filter: blur(7px);
    transform: translateY(-40px) scale(1.2);
    opacity: 0;
  }
}
